{
  "extends": [
      "eslint:recommended",
      "plugin:vue/vue3-recommended",
      "prettier",
      "plugin:import/errors",
      "plugin:import/warnings"
  ],
  "parserOptions": {
    "ecmaVersion": 2017,
    'parser': '@typescript-eslint/parser',
    "sourceType": "module"
  },
  "env": {
    "browser": true,
    "node": true
  },
  "rules": {
    "vue/multi-word-component-names": "off",
    "import/order": ["error"]
  },
  "settings": {
    "import/resolver": {
      typescript: {},
    }
  }
}
